body {
  box-sizing: border-box;
  max-width: 1440px;
  /*margin: auto;*/
  /*Ограничил ширину body и отцентровал
  исходя из совета старшего студента в чате projects
  в пачке*/
}

/* Переделал header. Добавил margin, исправил padding,
  наладил структуру расположения в ячейках grid. */

  .header {
  display: grid;
    grid-template-columns: 1fr 148px 1fr;
    margin: 92px 49px 92px 51px;
}

.header__menu {
  grid-column: 1;
}

.header__links-list {
  display: flex;
  gap: 13px;
  padding-top: 43px;
  padding-bottom: 43px;
}

.header__links-list-item {
  list-style: circle inside;
}

.header__link {
  font-size: 17.8px;
  line-height: normal;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  }

.header__link-active {
  text-decoration: none;
}

.header__links-list-item-head_no-bullit {
  list-style: none;
}

.header__logo {
  display: flex;
  grid-column: 2;
  justify-content: center;
}

.header__logo-image {
  max-width: 136px;
  padding-bottom: 4px;
}

.address {
  grid-column: 3;
  justify-self: end;
  padding: 5px 0 7px;
  font-size: 18.3px;
  font-style: normal;
  line-height: 24.3px;
  white-space: nowrap;
}

.header__address {
  display: block;
  max-width: fit-content;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 0 50px 0;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}

.cover__title {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 135px 50px;
  color: #FFF;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  text-transform: uppercase;
}

.aligned-text {
  display: flex;
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

/*Удалил лишний .aligned-text_top {},
  так как наследуется у .aligned-text*/

.aligned-text_center {
  justify-content: center;
  line-height: 100%;
}

.aligned-text_right {
  justify-content: end;
  line-height: 100%;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

/*Удалил лишний max-height: 52px;*/

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  width: 100%;
  padding-right: 50px;
}

.cover__description-text {
  z-index: 2;
  color:#FFF;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet_button {
  z-index: 2;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0, 0);
}

.lots {
  display: flex;
  flex-direction: column;
  margin: 180px 50px 181px 50px;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 25px;
}

.lots__card-list-item {
  position: relative;
  display: flex;
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
}

.card_type_film {
  background: url(/images/card-lot-01.jpg) no-repeat center / cover;
}

.card_type_book {
  background: url(/images/card-lot-02.jpg) no-repeat center / cover;
}

.card_type_picture {
  background: url(/images/card-lot-03.jpg) no-repeat center / cover;
}

.card__title {
  z-index: 4;
  color:#FFF;
  font-size: 22px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 4;
  color: #FFF;
  font-size: 20px;
  line-height: 120%;
}

/* Заменил padding на margin, установил
  максимальную ширину ссылки размером с внутреннюю
  предпочтительную ширину, благодаря чему ссылка
  перестала быть активной на протяжении всего блока.
  (затем исправил везде)*/

.lots__look-more-link {
  max-width: fit-content;
  margin: 30px 0 2px 40px;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  white-space: nowrap;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 25px;
  margin: 0 50px 180px 50px;
}

.about__column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-row: 1/4;
  padding: 0 95px 248px 95px;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 80%;
  background-color: #000;
}

.about_logo-image {
  width: 62%;
}

.about__title {
  display: flex;
  flex-direction: column;
  grid-column: 2/4;
  grid-row: 1/3;
  gap: 100px;
  padding-top: 100px;
}

.about__title h2 {
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

.about__text p {
  font-size: 20px;
  line-height: 120%;
}

/* Переделал footer по аналогии с header. При
  изменении разрешения больше ничего не теряется*/

.footer {
  display: grid;
  grid-template-columns: 1fr 149px 1fr;
  justify-items: end;
  margin: 0 50px 90px 50px;
}

.footer__address {
  justify-self: start;
}

.footer__address-item {
  display: block;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.1px;
  text-underline-offset: 4px;
  max-width: fit-content;
}

.footer__address-item-bottom {
  border-bottom: none;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 1.1px;
}

.footer__menu {
  display: flex;
  grid-column: 2;

}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-list-item {
  font-size: 18px;
}

.footer__menu-link-active {
  text-decoration: none;
}

.footer__menu-link {
  text-underline-offset: 4px;
}

.footer__social-list-menu {
  grid-column: 3;
  max-width: 240px;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
}

.footer__social-icon {
  width: 104%;
}

