body {
  box-sizing: border-box;
  width: 1440px;
  /*margin: 0 auto;*/
}

.header {
  width: 1340px;
  height: 109px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin: 92px 49px 92px 51px;
}

.header__menu {
  display: flex;
  grid-column: 1/4;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 13px;
}

.header__links-list-item {
  list-style: circle inside;
}

/*.header__links-list-item::marker {
  margin: 4px;
}*/

.header__link {
  text-decoration: none;
  font-size: 18px;
  line-height: normal;
}

.header__link-active {
  border-bottom: 1.5px solid #131313;
}

.header__links-list-item-head_no-bullit {
  list-style: none;
}

.header__logo {
  display: flex;
  grid-column: 5/7;
  justify-content: center;
  align-content: end;
}

.header__logo-image {
  color: #000000;
}

.address {
  grid-column: 9/11;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.3px;
  padding: 5px 0 7px 28px;
}

.header__address {
  display: block;
  text-decoration: none;
  border-bottom: 1.5px solid #131313;
  width: 133px;
}

main {
  width: 100%;
}

.cover {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 757px;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.6);
}

.cover__title {
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 0 50px;
}

.aligned-text {
  display: flex;
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_top {
  letter-spacing: 30px;;
}

.aligned-text_center {
  align-items: start;
  justify-content: center;
  line-height: 100%;
}

.aligned-text_right {
  display: flex;
  align-items: start;
  justify-content: end;
  line-height: 100%;
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.cover__description-text {
  box-sizing: border-box;
  color:#FFF;
  padding: 147px 0 0 422px;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0;
  word-spacing: 17px;
}

.bet_button_location {
  box-sizing: border-box;
  display: flex;
  padding: 134px 50px 50px 83px;
  white-space: nowrap;
}

.bet_button {
  color: #FFF;
  background-color: rgb(0, 0, 0, 0);
  border: 1px solid #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 12px 32px;
  z-index: 2;
}



