.header {
  width: 1340px;
  height: 109px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin: 92px 49px 92px 51px;
}

.header__menu {
  display: flex;
  grid-column: 1/4;
  align-items: center;
}

.header__links-list {
  display: flex;
  gap: 13px;
}

.header__links-list-item {
  list-style: circle inside;
}

/*.header__links-list-item::marker {
  margin: 4px;
}*/

.header__link {
  text-decoration: none;
  font-size: 18px;
  line-height: normal;
}

.header__link-active {
  border-bottom: 1.5px solid #131313;
}

.header__links-list-item-head_no-bullit {
  list-style: none;
}

.header__logo {
  display: flex;
  grid-column: 5/7;
  justify-content: center;
  align-content: end;
}

.header__logo-image {
  color: #000000;
}

.address {
  grid-column: 9/11;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.3px;
  padding: 5px 0 7px 28px;
}

.header__address {
  display: block;
  text-decoration: none;
  border-bottom: 1.5px solid #131313;
  width: 133px;
}
